@import url("https://fonts.googleapis.com/css?family=Fredoka+One|Kanit:400,700");
.header-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-family: "Kanit", sans-serif;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center; }
  .header-txt .author-name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px; }
  .header-txt .job-desc {
    font-size: 18px; }

.cursor {
  font-weight: bold;
  font-size: 18px;
  -webkit-animation: fade-in-out 0.4s ease-in-out infinite alternate;
  -moz-animation: fade-in-out 0.4s ease-in-out infinite alternate;
  -o-animation: fade-in-out 0.4s ease-in-out infinite alternate;
  animation: fade-in-out 0.4s ease-in-out infinite alternate; }

.header-logo {
  max-width: 170px; }

.main-nav-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }

a {
  text-decoration: none;
  color: #fff;
  outline: none;
  display: inline-block;
  position: relative; }
  a:before {
    content: '';
    position: absolute;
    width: 0;
    height: 4px;
    background-color: #fff;
    top: calc(50% + 2px);
    left: 0;
    transform: translateY(-50%);
    transition: .2s all ease-in-out; }
  a:hover:before {
    width: 100%; }

@keyframes fade-in-out {
  from {
    opacity: 0;
    visibility: hidden; }
  to {
    opacity: 1;
    visibility: visible; } }
